.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(14px + 2vmin);
  color: white;
}

.App-form {
  background-color: #282c34;
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
}

label {
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input, select {
  border-radius: 5px;
  border: 0px;
  font-size: 15px;
  margin-top: 10px;
  padding: 5px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-summary {
  margin-top: 5vmin;
  background-color: #282c34;
  flex-direction: column;
  align-items: center;
  font-size: calc(8px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-submit {
  background-color: orangered;
  margin-top: 5vmin;
  padding: 8px 20px;
  border-radius: 5px;
  border: 0px;
  font-size: 15px;
  background-color: rgb(247, 124, 86);
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.App-error {
  color: red;
  font-size: calc(6px + 1vmin);
  margin-top: 5px;

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
